.product-img {
  width: 170px;
  height: 170px;
  border-radius: 5px;
  image-rendering: -webkit-optimize-contrast;
  width: 100%;
  height: auto;
  gap: 10px;
}
.name {
  font-size: 16px;
  margin: 5px 0px;
}

.category {
  color: #87635a;
  margin-bottom: 0px;
}

.price {
  color: #c73a0f;
  margin: 0px;
}

.picture-container {
  position: relative;
  display: inline-block;
}
