.add-to-cart {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 10px;
  width: 60%;
  border-radius: 20px;
  border: solid 1px #c9aea6;
  background-color: #fff;
  transition: 0.8s;
}
.add-to-cart:hover {
  background-color: #c73a0f;
  transition: 1s;
}
.button-product {
  display: grid;
  grid-template-columns: 20px auto;
  justify-content: space-around;
  align-items: center;
}
.button-product-hover {
  display: grid;
  grid-template-columns: 20px auto 20px;
  justify-content: space-around;
  align-items: center;
  color: wheat;
}

.icon-hover {
  width: 16px;
  height: 16px;
}

.icon-add-to-cart {
  width: 26px;
  height: 16px;
}
